---
- name: Deploy Fitness App to AKS
  hosts: localhost # Runs directly on your machine
  connection: local
  gather_facts: no

  tasks:
    - name: Apply Kubernetes Deployment
      kubernetes.core.k8s:
        state: present
        src: deployment.yaml
        namespace: default
        verify_ssl: no

    - name: Apply Kubernetes Service
      kubernetes.core.k8s:
        state: present
        src: service.yaml
        namespace: default
        verify_ssl: no
       
